%h1 Listing parties
.row
  .span2.offset10
    = link_to 'New Party', new_party_path, :method=> "get", :class => 'btn btn-success'
%br
%table.table.table-striped
  %tr
    %th Name
    %th Owner
    %th Restaurant
    %th Dishes
    %th Participants
    %th Start at
    %th
    %th

  - @parties.each do |party|
    %tr
      %td= party.name
      %td= party.owner.name
      %td= party.restaurant.name
      %td
        %ul{:class=>'dish-list'}
          - party.dishes.each do |d|
            %li{:id=>"dish_#{d.id}"}
              = d.name
              %i{:class=>'vote icon-thumbs-up btn-link', :action=>vote_dish_path(d, :vote=>"up")}
              %span{:class=>"up_count"}
                = d.up_votes_count
              %i{:class=>'vote icon-thumbs-down btn-link'}
              %span{:class=>"up_count"}
                = d.down_votes_count
        %td
          - party.participants.each do |p|
            = p.name
        %td= party.start_at
        %td= link_to 'Edit', edit_party_path(party)
        %td= link_to 'Destroy', party, method: :delete, data: { confirm: 'Are you sure?' }

