%p#notice= notice

%p
  %b Name:
  = @party.name
%p
  %b Restaurant:
  = @party.restaurant
%p
  %b Dish:
  = @party.dishes
%p
  %b Participants:
  = @party.participants
%p
  %b Start at:
  = @party.start_at

= link_to 'Edit', edit_party_path(@party)
\|
= link_to 'Back', parties_path
