%h1 Listing bills

%table.table
  %tr
    %th Type
    %th Fee
    %th Account
    %th Debtee
    %th Debtor
    %th Cleared
    %th Status
    %th Clear
    %th
    %th

  - @bills.each do |bill|
    %tr
      %td= bill.type
      %td= bill.fee
      %td= link_to bill.account.restaurant, account_path(bill.account)
      %td= bill.debtee.name
      %td= bill.debtor.name
      %td= bill.cleared
      %td= bill.status
      %td= link_to 'Show', bill
      %td= link_to 'Edit', edit_bill_path(bill)
      %td= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Bill', new_bill_path
