%h3 My debts to get

- @bills_get_hash.each do |debtor, bills|
  .row
    .span2
      %b= "Debtor: " << debtor.name
    .span2.offset2
      = "Total: " << bills.map{|b| b.fee }.reduce(:+).to_s
      = link_to 'Clear', clear_bills_path(:debtor_id=>debtor.id), :class=>"btn btn-link", :method=> :post, :id=>"debt_#{debtor.id}"
  .row
    .span6
      = render "bills", :bills=>bills
%h3 My debts to pay

- @bills_debt_hash.each do |debtee, bills|
  .row
    .span2
      %b= "Debtee: " << debtee.name
    .span2.offset2
      = "Total: " << bills.map{|b| b.fee }.reduce(:+).to_s
  .row
    .span6
      = render "bills", :bills=>bills

%h3 Cleared Bills

%table{:class=>"table table-bordered"}
  %tr
    %th Type
    %th Fee
    %th Restaurant
    %th Debtee
    %th Debtor
    %th Date

  - @bills_cleared.each do |bill|
    %tr
      %td= bill.type
      %td= bill.fee
      %td= bill.account.restaurant
      %td= bill.debtee.name
      %td= bill.debtor.name
      %td= l bill.updated_at

