%h1 Listing my bills

- @bills_gap_debt_hash.each do |debtor, bills|
  = debtor.name
  = link_to 'Clear', debtor, :class=>"btn btn-link"
  %table.table
    %tr
      %th Fee
      %th Restaurant
      %th Date
    - bills.each do |bill|
      %tr
        %td= bill.fee
        %td= bill.account.restaurant
        %td= l bill.created_at
