%p#notice= notice

%p
  %b Type:
  = @bill.type
%p
  %b Fee:
  = @bill.fee
%p
  %b Cleared:
  = @bill.cleared
%p
  %b Status:
  = @bill.status

= link_to 'Edit', edit_bill_path(@bill)
\|
= link_to 'Back', bills_path
