= link_to "AA Recorder", root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    %li
      = link_to 'Accounts', accounts_path
    %li
      = link_to 'Bills', bills_path
    %li
      = link_to 'Parties', parties_path
    %li
      = link_to "Welcome " << current_user.name, current_user
    %li
      = link_to 'Logout', destroy_user_session_path, :method=>'delete'
  - else
    %li
      = link_to 'Login', new_user_session_path
  - if user_signed_in?
    %li
      = link_to 'Edit account', edit_user_registration_path
    - if current_user.has_role? :admin
      %li
        = link_to 'Admin', users_path
  - else
    %li
      = link_to 'Sign up', new_user_registration_path
