= simple_form_for(@account, :html => { :class => 'form-horizontal' }) do |f|
  .row-fluid
    .span10
      = f.error_notification
  .row-fluid
    .span4
      = f.input :restaurant, :label=>"Restaurant: ", :html=>{:id=>"restaurant"}
    .span4
      - if @restaurants
        - @restaurants.each do |r|
          %span{:class=>"btn btn-link restaurant"}
            = r
  .row-fluid
    .span10
      = f.input :total_fee, :label=>"Total Fee: "
  .row-fluid
    .span10
      %label= "Participant: "
      = f.collection_check_boxes :participant_ids, User.all, :id, :name
  .row-fluid
    .span10
      = f.button :submit, :class => 'btn-primary'
      = link_to 'Back', accounts_path, :method=>'get', :class => 'btn btn-warning'
