%h1 All Accounts
.row
  .span2.offset10
    = button_to 'New Account', new_account_path, :method=> "get", :class => 'btn btn-primary'
%table.table.table-striped
  %tbody
    %tr
      %th Restaurant
      %th Total fee
      %th Avg fee
      %th Gap fee
      %th Participants
      %th Owner
      %th Created
      %th Modified
      %th Status
      %th

    - @accounts.each do |account|
      %tr
        %td= account.restaurant

        %td= account.total_fee
        %td= account.avg_fee
        %td= account.gap_fee
        %td
          %ul{:class=>'bill-list'}
            - account.bills.reject{|b| b.type!='Int' }.each do |b|
              %li
                - if b.paid?
                  %i{:class=>'icon-ok green'}
                -else
                  %i{:class=>'icon-tag yellow'}

                - if can?(:edit, account) and !account.clear?
                  = link_to b.debtor.name, pay_bill_path(b), :class=>"btn btn-link bill", :id=>"bill_#{b.id}"
                - else
                  %span
                    = b.debtor.name

        %td= account.owner.name if account.owner
        %td= l account.created_at, :format => "%m/%d/%Y"
        %td= l account.updated_at, :format => "%m/%d/%Y"
        %td
          %p{:id=>"status_#{account.id}", :class=>"#{'text-success' if account.clear?}"}
            = account.status
        %td
          - if can?(:destory, account) and !account.locked?
            = link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-warning', :id=>"destroy_#{account.id}"

