%h1 Listing accounts
.row
  .span10
    = button_to 'New Account', new_account_path, :method=> "get", :class => 'btn btn-primary'
%table.table.table-striped
  %tbody
    %tr
      %th Restaurant
      %th Total fee
      %th Avg fee
      %th Gap fee
      %th Participants
      %th Owner
      %th Created
      %th Modified
      %th Cleared
      %th Status
      %th Destroy

    - @accounts.each do |account|
      %tr
        %td= link_to account.restaurant, account, :class=>"btn btn-link"

        %td= account.total_fee
        %td= account.avg_fee
        %td= account.gap_fee
        %td
          - account.bills.reject{|b| b.type!='Int' }.each do |b|
            = link_to b.debtor.name, pay_bill_path(b), :class=>"btn btn-link bill"

        %td= account.owner.name if account.owner
        %td= l account.created, :format => "%m/%d/%Y"
        %td= l account.modified, :format => "%m/%d/%Y"
        %td= account.cleared_at
        %td= account.status
        %td= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-warning', :class => 'btn btn-warning'

