%h1 Listing accounts

%table.table-striped
  %tr
    %th Restaurant
    %th Total fee
    %th Avg fee
    %th Gap fee
    %th Participants
    %th Owner
    %th Created
    %th Modified
    %th Cleared
    %th Status
    %th
    %th
    %th

  - @accounts.each do |account|
    %tr
      %td= account.restaurant
      %td= account.total_fee
      %td= account.total_fee/account.participants.size
      %td= account.total_fee%account.participants.size
      %td
        - account.participants.each do |p|
          = p.name
      %td= account.owner.name
      %td= account.created
      %td= account.modified
      %td= account.cleared
      %td= account.status
      %td= link_to 'Show', account
      %td= link_to 'Edit', edit_account_path(account)
      %td= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Account', new_account_path
