%p#notice= notice

%p
  %b Restaurant:
  = @account.restaurant
%p
  %b Total fee:
  = @account.total_fee
%p
  %b Avg fee:
  = @account.avg_fee
%p
  %b Created:
  = @account.created
%p
  %b Modified:
  = @account.modified
%p
  %b Cleared:
  = @account.cleared
%p
  %b Participants:
  - @account.participants.each do |p|
    = p.name << ','
%p
  %b Status:
  = @account.status

= link_to 'Edit', edit_account_path(@account)
\|
= link_to 'Back', accounts_path
