%p#notice= notice

.row
  .span2
    %b Restaurant:
  .span8= @account.restaurant
.row
  %b.span2 Total fee:
  .span8= @account.total_fee
.row
  %b.span2 Avg fee:
  .span8= @account.avg_fee
.row
  %b.span2 Created:
  .span8= @account.created_at
.row
  %b.span2 Modified:
  .span8= @account.updated_at
.row
  %b.span2 Participants:
  - @account.participants.each do |p|
    = p.name << ','
.row
  %b.span2 Status:
  .span8= @account.status

.span8
  = link_to 'Edit', edit_account_path(@account)
  |
  = link_to 'Back', accounts_path
